:root{
    --main-bg-color: #1C1C1C;
    --body-bg: #23272a;
    --screen-right-margin: 10px;
}

html{
    position: relative;
    min-height: 100%;
}

body{
    background-color: var(--body-bg);
    color: #fff;
    font-family:  Roboto , sans-serif;
    margin: 0px;
}

.header{
    display: flex;
    justify-content: center;
    font-size: 70px;
}

.main{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    height: 75vh;
    min-height: 500px;
}

.calc{
    padding: 20px;
    width: 400px;
    background-color: var(--main-bg-color);
    border: 2px var(--main-bg-color) solid;
    border-radius: 15px;
}

.screen{
    background-color: var(--body-bg);
    height: 15%;
    text-align: end;
    margin: 15px 0px;
    font-size: 30px;
    border-radius: 10px;
}

.lastScreen, .curScreen{
    min-height: 60px;
    height: 50%;
    margin-right: var(--screen-right-margin);
}

.clean{
    display: flex;
    gap: 10px;
}

.clean button{
    min-width: 195px;
}

.button-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 10px;
    margin-top: 20px;
}

.buttonsOp{
    background-color: #FF9500;
}

button{
    background-color: #505050;
    color: #D4D4D2;
    font-size: 1.5rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
}